<!-- <h1>home works!</h1> -->
<img src="../../assets/images/homepage.jpg" class="img-fluid image-full">

<div class="container-fluid center-card">
    <h1 style="font-size: 420%;">Welcome to the <span style="color: gold">Party!</span></h1>
    <h2 style="font-size: 150%;">Join and have a good time with your friends</h2>
    <h3 style="font-size: 100%; float: right; margin-top: 20%;">by Echipa 1</h3>    
</div>

<div class="container-fluid buttons-card">
    <button type="button" class="btn btn-warning buttons" [routerLink]="'/login'">Login</button>
    <button type="button" class="btn btn-warning buttons" style="margin-left: 5%;" [routerLink]="'/register'">Register</button>
    <button type="button" class="btn btn-warning buttons" style="margin-left: 5%;">Contiue as Guest</button> 
</div>


