<img src="../../assets/images/homepage.jpg" class="img-fluid image-full">

<button type="button" class="btn btn-danger" style="margin-top: 1.5%; margin-left: 10%; font-family: 'Mochiy Pop P One', sans-serif; display: inline-block; position: absolute;">Create room</button>
<div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-offset="0" class="scrollspy-example" tabindex="0">
    <ul class="list-group rooms">
        <li *ngFor="let room of roomsList" class="list-group-item list-item">
            <div>
                <h1 style="font-size: 100%; display: inline-block; cursor: pointer;" (click)="ocClickRoom(room[0])">{{room[1]}} </h1>
                <!-- {{roomsList}} -->
                <p style="margin-left: 10%; font-size: 80%; display: inline-block;">Admin: {{room[2]}} - {{room[3]}} | Number of players: {{room[4]}} | Max number of players: {{room[5]}}</p>
                <button type="button" class="btn btn-danger" style="margin-left: 10%; display: inline-block;">Join</button>
            </div>
        </li>
    </ul>
</div>

<div *ngIf="selected" class="details">
    <h1 style="margin-left: 5%">Players</h1>
    <ul class="list-group">
        <li *ngFor="let player of getList()" class="list-group-item" style="background-color: rgb(29, 161, 242);">
            {{player}}
        </li>
    </ul>
</div>

