<img src="../../assets/images/homepage.jpg" class="img-fluid image-full">

<h1 class="header"> <span style="color: rgb(29, 161, 242)">{{username}}</span>, pick a game!</h1>
<div class="container-fluid games-list">
    <div class="card" style="width: 18rem; display: inline-block;">
        <img src="../../assets/images/password.jpg" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title" style="color: black;">Guess the password</h5>
            <p class="card-text" style="color: black;">Try to guess what's in your friends mind and solve the riddle.</p>
            <a href="guess-the-password" class="btn btn-primary">Go to the Rooms</a>
        </div>
    </div>
    <div class="card" style="width: 18rem; margin-left: 10%; display: inline-block;">
        <img src="../../assets/images/tba.jpg" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title" style="color: black;">TBA</h5>
          <p class="card-text" style="color: black;">Soon...</p>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>
      <div class="card" style="width: 18rem; margin-left: 10%; display: inline-block;">
        <img src="../../assets/images/tba.jpg" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title" style="color: black;">TBA</h5>
          <p class="card-text" style="color: black;">Soon...</p>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>
</div>


