<img src="../../assets/images/homepage.jpg" class="img-fluid image-full">

<div class="container-fluid center-card">
    <h1 style="font-size: 420%; color: gold; text-align: center;">Login</h1>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">User ID</label>
          <input type="text" class="form-control" formControlName="inputUsername">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" formControlName="inputPassword">
        </div>
        <button type="submit" class="btn btn-warning" style="color: white;">Continue</button>
      </form>
</div>
